[Unit]
Description=syssrv

[Service]
Type=forking
PIDFile=/var/run/sysrun/syssrv.pid
ExecStart=/usr/sbin/syssrv
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/usr/bin/install -d -o root -g root /var/run/sysrun /var/log/sysrun

[Install]
WantedBy=multi-user.target

